.container{
    display: flex;
    margin: 0 aut0;
}
button{
    width: 100%;
    text-align: center;
}
h2{
    text-align: center;
    font-weight: bold;
}
.menu{
    width: 75%;
}
.mat_menu{
    margin:0 auto;
}
