<!-- 
<div *ngIf="!showMyResult" class="main">
    <h1 style="font-weight: bold; text-align: center;">Kanji Test</h1>
    <div>
      <mat-card *ngIf="questionList && currentQuestionIndex < questionList.length">
        <mat-card-header>
          <mat-card-title style="font-size: x-large; font-weight: bold;">
            Q{{currentQuestionIndex + 1}}: {{questionList[currentQuestionIndex].attributes.question}}
          </mat-card-title>
        </mat-card-header>
        <ul>
          <li *ngFor="let choice of choices" 
              [ngClass]="{'selected': selectedAnswer === choice, 'correct': isCorrect(choice), 'incorrect': isIncorrect(choice)}"
              (click)="selectAnswer(choice, questionList[currentQuestionIndex].id)">
            {{ choice }}
          </li>
        </ul>
        <div class="indexBtn">
          <div class="previous">
            <button class="btn btn-primary btn-lg" (click)="previousQuestion()"><</button>
          </div>
          <div class="next">
            <button class="btn btn-primary btn-lg" (click)="nextQuestion()">></button>
          </div>
          <div *ngIf="currentQuestionIndex === questionList.length - 1" class="result">
            <button class="btn btn-primary btn-lg" (click)="showResult()">結果</button>
          </div>
        </div>
        <br>
      </mat-card>
      <br><br>
    </div>
  </div>
  
  <app-result *ngIf="showMyResult" [result]="score" [questionList]="questionList" [userAnswers]="userAnswers"></app-result>
  -->
   <div *ngIf="!showMyResult" class="main">
    <h1 style="font-weight: bold; text-align: center;">Kanji Test</h1>
    <div>
      <mat-card *ngIf="questionList && currentQuestionIndex < questionList.length">
        <mat-card-header>
          <mat-card-title style="font-size: x-large; font-weight: bold;">
            Q{{currentQuestionIndex + 1}} : {{questionList[currentQuestionIndex].attributes.question}}
          </mat-card-title>
        </mat-card-header>
        <ul>
          <li *ngFor="let choice of [questionList[currentQuestionIndex].attributes.choice_1, questionList[currentQuestionIndex].attributes.choice_2, questionList[currentQuestionIndex].attributes.choice_3, questionList[currentQuestionIndex].attributes.choice_4]"
              (click)="selectAnswer(choice, questionList[currentQuestionIndex].id)"
              [ngClass]="{
                'correct': choice === questionList[currentQuestionIndex].attributes.answer && selectedAnswers[questionList[currentQuestionIndex].id] === choice,
                'incorrect': choice !== questionList[currentQuestionIndex].attributes.answer && selectedAnswers[questionList[currentQuestionIndex].id] === choice,
                'selected': selectedAnswers[questionList[currentQuestionIndex].id] === choice
              }">
            {{ choice }}
          </li>
        </ul>
        <div class="indexBtn">
          <div class="previous">
            <button class="btn btn-primary btn-lg" (click)="previousQuestion()"><</button>
          </div>
          <div class="next">
            <button class="btn btn-primary btn-lg" (click)="nextQuestion()">></button>
          </div>
          <div *ngIf="currentQuestionIndex == questionList.length - 1" class="result">
            <button class="btn btn-primary btn-lg" (click)="showResult()">結果</button>
          </div>
        </div>
        <br>
      </mat-card>
      <br><br>
    </div>
  </div>
  
  <app-result *ngIf="showMyResult" [result]="score" [questionList]="questionList" [userAnswers]="selectedAnswers"></app-result>
  