<div *ngIf="!showMyResult">
<h1 style="font-weight: bold; text-align: center;">Kanji Test</h1>
<div>
    <mat-card *ngIf="questionList && currentQuestionIndex < questionList.length">
        <mat-card-header>
            <mat-card-title style="font-size: x-large; font-weight: bold;">
            Q{{currentQuestionIndex+1}} {{questionList[currentQuestionIndex].attributes.question}}
            </mat-card-title>
        </mat-card-header>
        <ul>
            <li (click)="selectAnswer(questionList[currentQuestionIndex].attributes.choice_1,questionList[currentQuestionIndex].id)">
                {{ questionList[currentQuestionIndex].attributes.choice_1 }}
            </li>
            &nbsp;&nbsp;
            <li (click)="selectAnswer(questionList[currentQuestionIndex].attributes.choice_2,questionList[currentQuestionIndex].id)">
                {{ questionList[currentQuestionIndex].attributes.choice_2 }}
            </li>
            &nbsp;&nbsp;
            <li (click)="selectAnswer(questionList[currentQuestionIndex].attributes.choice_3,questionList[currentQuestionIndex].id)">
                {{ questionList[currentQuestionIndex].attributes.choice_3 }}
            </li>
            &nbsp;&nbsp;
            <li (click)="selectAnswer(questionList[currentQuestionIndex].attributes.choice_4,questionList[currentQuestionIndex].id)">
                {{ questionList[currentQuestionIndex].attributes.choice_4 }}
            </li>
        </ul>
        <div *ngIf="currentQuestionIndex<questionList.length-1">
            <button class="btn btn-primary btn-lg" (click)="nextQuestion()">次へ</button>
        </div>
        <div *ngIf="currentQuestionIndex==questionList.length-1">
            <button class="btn btn-primary btn-lg" (click)=showResult()>結果</button>
        </div>
        <br>
    </mat-card>
    <br><br>
    
</div>
</div>

<app-result *ngIf="showMyResult" [result]="score" [questionList]="questionList"></app-result>
