
ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}
ul li{
    text-align: center;
    width: 100px;
    padding: 10px;
    background-color: blanchedalmond ;
    border-radius: 10px;
}
ul li:hover{
    background-color: rgb(245, 168, 168);
}

.indexBtn
{
    display: flex;
    width: auto;
}
button{
    margin: 10px 50px;
    text-align: center;
    width: 100px;
}
.selected {
    background-color: #d1ecf1; /* Light blue for selected answer */
  }
  
  .correct {
    background-color: #d4edda; /* Light green for correct answers */
    color: #155724; /* Dark green text */
  }
  
  .incorrect {
    background-color: #f8d7da; /* Light red for incorrect answers */
    color: #721c24; /* Dark red text */
  }
  
