
ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}
ul li{
    text-align: center;
    width: 100px;
    padding: 10px;
    background-color: blanchedalmond ;
    border-radius: 10px;
}
ul li:hover{
background-color:#f0c1f5;
}

button{
    margin: 10px 50px;
    text-align: center;
    width: 100px;
}
