<div class="main" style="width: 100%;">
    <br><br>
    <h3 style="font-size: x-large; font-style: italic; padding-left: 10px;">Kanji List</h3>

    <!-- Modal Component -->
    <app-word-details #modal [kanji]="selectedWord"></app-word-details>

    <div class="table">
        <table mat-table [dataSource]="dataSource">
            <!-- Columns -->
            <ng-container matColumnDef="kanji">
                <th mat-header-cell *matHeaderCellDef>Kanji</th>
                <td mat-cell *matCellDef="let kanji" (click)="getWordDetails(kanji)">{{ kanji.attributes.kanji }}</td>
            </ng-container>

            <ng-container matColumnDef="onyomi">
                <th mat-header-cell *matHeaderCellDef>Onyomi</th>
                <td mat-cell *matCellDef="let kanji" (click)="getWordDetails(kanji)">{{ kanji.attributes.onyomi }}</td>
            </ng-container>

            <ng-container matColumnDef="kunyomi">
                <th mat-header-cell *matHeaderCellDef>Kunyomi</th>
                <td mat-cell *matCellDef="let kanji" (click)="getWordDetails(kanji)">{{ kanji.attributes.kunyomi }}</td>
            </ng-container>

            <ng-container matColumnDef="meaning">
                <th mat-header-cell *matHeaderCellDef>Meaning</th>
                <td mat-cell *matCellDef="let kanji" (click)="getWordDetails(kanji)">{{ kanji.attributes.meaning }}</td>
            </ng-container>

            <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef>Level</th>
                <td mat-cell *matCellDef="let kanji">N{{ kanji.attributes.level }}</td>
            </ng-container>

            <!-- Header and Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSize]="10"></mat-paginator>
        <button class="btn btn-primary" (click)="backClicked()">BACK</button>
        <br><br>
    </div>
</div>
