.register {
    max-width: 400px;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register form {
    display: flex;
    flex-direction: column;
  }
  
  .register label {
    margin-bottom: 5px;
  }
  
  .register input {
    margin-bottom: 10px;
    padding: 8px;
  }
  
  .register button {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .register button:hover {
    background-color: #218838;
  }
  
  .register p {
    margin-top: 10px;
  }
  
  .login-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  