<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h3 style="text-align: center;">Choose Your Level</h3>
            <br>
            <button type="button" class="btn btn-primary btn-lg" routerLink="/testList/5">N5 Kanji Test</button>
            <br><br><br>
            <button type="button" class="btn btn-primary btn-lg" routerLink="/testList/4">N4 Kanji Test</button>
            <br><br><br>
            <button class="btn btn-primary" (click)="backClicked()">BACK</button>
        </div>
        <div *ngIf="userId" class="col-md-3">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/record">
                    <mat-icon>history</mat-icon>
                    <span>Record</span>
                </button>
                <button mat-menu-item routerLink="/">
                    <mat-icon>power_settings_new</mat-icon>
                    <span>Log out</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>
