<br><br>
<div class="container">
        <div class="menu">
            <h2 style="text-align: center;">今日も一日中頑張りましょ</h2>
            <br>
            <button type="button" class="btn btn-primary btn-lg" routerLink="/study">Study　勉強する</button>
            <br><br><br>
            <button type="button" class="btn btn-primary btn-lg" routerLink="/test">Test　テストを受ける</button>
        </div>
        <div *ngIf="!userId" class="mat_button">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/register">
                    <mat-icon>perm_identity</mat-icon>
                    <span>Register</span>
                </button>
                <button mat-menu-item routerLink="/login">
                    <mat-icon>power_settings_new</mat-icon>
                    <span>Log In</span>
                </button>
                <button mat-menu-item routerLink="/guide">
                    <mat-icon>book</mat-icon>
                    <span>User Guide</span>
                </button>
            </mat-menu>
        </div>
        <div *ngIf="userId" class="mat_button">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/record">
                    <mat-icon >history</mat-icon>
                    <span>Record</span>
                </button>
                <button mat-menu-item routerLink="/login" (click)="logout()">
                    <mat-icon>power_settings_new</mat-icon>
                    <span>Log out</span>
                </button>
                <button mat-menu-item routerLink="/guide">
                    <mat-icon>book</mat-icon>
                    <span>User Guide</span>
                </button>
            </mat-menu>
            
        </div>
</div>
