<!-- <app-record-details [score]="selectedRecord"></app-record-details> -->
<mat-card>
    <mat-card-header>
        <h2>Result Record</h2>
    </mat-card-header>

    <mat-card-content>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="test">
                <th mat-header-cell *matHeaderCellDef> Test Name </th>
                <td mat-cell *matCellDef="let record" (click)="getRecordDetails(record)">Test {{record.attributes.test_id}} </td>
            </ng-container>

            <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef> Level </th>
                <td mat-cell *matCellDef="let record" (click)="getRecordDetails(record)"> N{{record.attributes.level}} </td>
            </ng-container>

            <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef> Score </th>
                <td mat-cell *matCellDef="let record" (click)="getRecordDetails(record)"> {{record.attributes.score}}/20 </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <br><br>
        <button type="button" class="btn btn-primary" (click)="backClicked()">BACK</button>
    </mat-card-content>
</mat-card>
