<div class="modal" *ngIf="isOpen" (click)="clickOutside($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">

      <!-- <span class="close" (click)="closeDialog()">&times;</span> -->
      
      
      <div *ngIf="kanji">
        <h1>{{ kanji.attributes.kanji }}</h1>
        <p>Onyomi: {{ kanji.attributes.onyomi }}</p>
        <p>Kunyomi: {{ kanji.attributes.kunyomi }}</p>
        <p>Meaning: {{ kanji.attributes.meaning }}</p>
        
      </div>
    </div>
  </div>
  