<br><br>
<div class="container">
    <div class="header">
        <h2 style="text-align: center;">User Guide / アプリ使い方</h2>
        <p style="font-size: larger; text-align: center;">
        Welcome to Let's Kanji, the best tool for learning Japanese Kanji! <br>
        Whether you're studying on your own or in a class, 
        Let's Kanji helps you remember Kanji and test how well you understand it.
        <br>
        日本語の漢字を学ぶのに最適なツール、Let's Kanji へようこそ!
        独学でもクラスでも、Let's Kanji は漢字を覚え、理解度をテストするのに役立ちます。
        </p>
        <br>
        <p style="font-size: larger; text-align: center;">
        This user guide covers the main parts and features of the Let's Kanji app.
        We hope you enjoy studying!
        <br>
        このユーザーガイドでは、Let's Kanji アプリの主な部分と機能について説明します。
        楽しく学習していただければ幸いです。
        </p>
    </div>
    <br>
    <div class="main">
        <h3>1. Main Page /  メインページ</h3>
        <img src="assets/main.jpeg" alt="testing" class="fixed-photo"/>
        <p>Click the <b>"Study 勉強する"</b> button to begin studying./ 
            <b>「Study 勉強する」</b>ボタンをクリックして学習を始めます。
            <br>
            Click the <b>"Test テストする"</b> button to begin test./
            <b>「Test テストする」</b>ボタンをクリックしてテストを始めます。
        </p>
        <br>

        <h3>2. Study Page</h3>
        <img src="assets/kanji-main.jpeg" alt="testing" class="fixed-photo"/>
        <p>Choose your level and start learning! / レベルを選択して学習を始めましょう！</p>
        <br>

        <h3>3. Kanji Lsit Page</h3>
        <img src="assets/kanji-list.jpeg" alt="testing" class="fixed-photo"/>
        <p>There are kanji available based on your level. /レベルに応じて選べる漢字があります。</p>
        <br>

        <img src="assets/kanji-popup.jpeg" alt="testing" class="fixed-photo"/>
        <p>Click on each kanji one by one to see its meaning. / それぞれの漢字を一つずつクリックすると意味が表示されます。</p>
        <br>

        <h3>4. Test Page</h3>
        <img src="assets/test-main.jpeg" alt="testing" class="fixed-photo"/>
        <p>Choose your level and start the test! /レベルを選択してテストを開始してください。</p>
        <br>
        
        <h3>5. Test List Page</h3>
        <img src="assets/test-list.jpeg" alt="testing" class="fixed-photo"/>
        <p>There are tests available based on your level.Choose a test and start! /
            <br> レベルに応じて選べるテストがあります。テストを選択して開始してください。</p>
        <br>

        <img src="assets/answer-choice.jpeg" alt="testing" class="fixed-photo"/>
        <p> Select your answer and click <b>">"</b> to move to the next question. 
            If you choose the wrong answer, don’t worry! Click the <b> "<"</b> button to go back and choose again. /
        <br>回答を選択して<b>「>」</b> をクリックすると次の質問に進みます。
        間違った回答を選択しても心配しないでください。<b>「<」</b>ボタンをクリックして戻ってもう一度選択してください。
        </p>
        <br>
        <img src="assets/last-question.jpeg" alt="testing" class="fixed-photo"/>
        <p>When you reach the last question, you will see a <b>"結果"</b> button. /
            Click that button to finish your test and see your results.
        <br>
        最後の質問に到達すると、<b>「結果」</b>ボタンが表示されます。
        そのボタンをクリックしてテストを終了し、結果を確認してください。</p>
        <br>
        <h3>6. Result Page</h3>
        <img src="assets/result.jpeg" alt="testing" class="fixed-photo"/>
        <p>Here are your results. You can see your score, your answers, and the correct answers. /
        <br>
        結果はこちらです。点数、回答、正解を確認できます。
        </p>
        <br>
        <img src="assets/save-result.jpeg" alt="testing" class="fixed-photo"/>
        <p>If you want to save your results, scroll down and click the <b>"Save Result"</b> button. /
        <br>
        結果を保存する場合は、下にスクロールして<b>「Save Result」</b>ボタンをクリックします。</p>
        <br>

        <img src="assets/save-popup.jpeg" alt="testing" class="fixed-photo"/>
        <p>To save your results, you need to log in first. If you don’t have an account, create one. /
            <br>
            結果を保存するには、まずログインする必要があります。アカウントをお持ちでない場合は、作成してください。
        </p>
        <br>
        <img src="assets/login.jpeg" alt="testing" class="fixed-photo"/>
        <p>Enter your username and password. / ユーザー名とパスワードを入力してください。</p>
        <br>
        <img src="assets/register.jpeg" alt="testing" class="fixed-photo"/>
        <p>Enter your username,email and password. / ユーザー名、メールとパスワードを入力してください。</p>
        <br>

        <img src="assets/main after login.jpeg" alt="testing" class="fixed-photo"/>
        <p>Click <b><mat-icon>menu</mat-icon></b> and then click <b>"<mat-icon >history</mat-icon>Records" </b>to see your records. /
        <br>
        <b><mat-icon>menu</mat-icon> </b>をクリックし、<b><mat-icon >history</mat-icon>Records</b> ボタンをクリックして記録を表示します。</p>
        
        <img src="assets/record-list.jpeg" alt="testing" class="fixed-photo"/>
        <p>Voila! Here are your test records. / できました! これがテスト記録です。</p>

        <!-- <img src="assets/main before login.jpeg" alt="testing" class="fixed-photo"/>
        <p></p> -->
    </div>
</div>
