
<div class="mat-elevation-z8" style="width: 100%;">
    <br><br>
    <h3 style="font-size: x-large; font-style: italic;">    N5 Kanji List</h3>
    <table mat-table [dataSource]="dataSource">
        <mat-row>
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let kanji"> {{kanji.id}} </td>
            </ng-container>
        
        
            <ng-container matColumnDef="kanji">
                <th mat-header-cell *matHeaderCellDef> Kanji </th>
                <td mat-cell *matCellDef="let kanji" (click)="getWordDetails(kanji)"> {{kanji.kanji}} </td>
            </ng-container>
        
            <ng-container matColumnDef="onyomi">
                <th mat-header-cell *matHeaderCellDef>Onyomi </th>
                <td mat-cell *matCellDef="let kanji"> {{kanji.onyomi}} </td>
            </ng-container>
        
            <ng-container matColumnDef="kunyomi">
                <th mat-header-cell *matHeaderCellDef> Kunyomi </th>
                <td mat-cell *matCellDef="let kanji"> {{kanji.kunyomi}} </td>
            </ng-container>
        
            <ng-container matColumnDef="meaning">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let kanji"> {{kanji.meaning}} </td>
            </ng-container>
        </mat-row>
        
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <button class="btn btn-primary" (click)="backClicked()">BACK</button>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons
                aria-label="Select page of periodic elements">
    </mat-paginator>
</div> 
<app-word-details [kanji]="selectedWord"></app-word-details>
