
<div class="mat-elevation-z8" style="width: 100%;">
    <br><br>
    <h3 style="font-size: x-large; font-style: italic;">    N5 Kanji List</h3>
    <!-- <table mat-table [dataSource]="dataSource">
        <mat-row>
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let kanji"> {{kanji.id}} </td>
            </ng-container>
        
        
            <ng-container matColumnDef="kanji">
                <th mat-header-cell *matHeaderCellDef> Kanji </th>
                <td mat-cell *matCellDef="let kanji" (click)="getWordDetails(kanji)"> {{kanji.kanji}} </td>
            </ng-container>
        
            <ng-container matColumnDef="onyomi">
                <th mat-header-cell *matHeaderCellDef>Onyomi </th>
                <td mat-cell *matCellDef="let kanji"> {{kanji.onyomi}} </td>
            </ng-container>
        
            <ng-container matColumnDef="kunyomi">
                <th mat-header-cell *matHeaderCellDef> Kunyomi </th>
                <td mat-cell *matCellDef="let kanji"> {{kanji.kunyomi}} </td>
            </ng-container>
        
            <ng-container matColumnDef="meaning">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let kanji"> {{kanji.meaning}} </td>
            </ng-container>
        </mat-row>
        
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->
    <br>
    <button class="btn btn-primary" (click)="backClicked()">BACK</button>
    <!-- mat pagination -->
    <!-- <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons
                aria-label="Select page of periodic elements">
    </mat-paginator> -->
    
    <!-- boostrap table -->
    <table class="table table-striped table-bordered" 
    *ngIf="kanjis$|async as kanjis">
        <thead>
            <tr>
                
                <th>Kanji</th>
                <th>Onyomi</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let kanji of kanjis">
                <td>{{kanji.kanji}}</td>
                <td>{{kanji.onyomi}}</td>
                
            </tr>
        </tbody>
        </table>
</div> 
<app-word-details [kanji]="selectedWord"></app-word-details>
